twilio
openai
transformers
sentence-transformers
google-search-results
weaviate-client
python-dotenv
beautifulsoup4
serial~=0.0.97
pyserial
torch
opencv-python
numpy
scikit-image
pillow
torchvision
tqdm
regex
pyaudio~=0.2.11
whisper
playsound
gtts
requests
depthai
flask
retry